*{
    margin: 0PX;
}
@font-face{
    font-family: "booter - zero zero";
    src: url(/fonts/FontsFree-Net-BOOTERZZ.ttf);
    font-weight: normal;
    font-size: normal;
}
body{
    padding-top: 50px;
   text-align: center;
   background-color: #E4F9F5;
   background-image: url(images/wolf.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   color: whitesmoke;
}
h1{
    width:10%;
    margin:0 auto;
    font-family: "booter - zero zero";  
    font-size: 5em;
    letter-spacing: 1px;
}
p{
    font-family: "booter - zero zero";  
    font-size: 2em;
    letter-spacing:3px;
}
.top-container{
   
}
.middle{
}
.last{
}
